<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= show_event_list(@user_events) %>

<!--
<#%= link_to 'Edit', edit_event_path(@event) %> |
<#%= link_to 'Back', events_path %>
-->
