<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<strong>Created Events:</strong>
<%= show_event_list(@user_events) %>

<strong>Event attendances:</strong>

<ol>
  <% @user_attendance.each do |attendance| %>
    <li><strong><%= attendance.name %></strong>, <%= attendance.location %></li>
  <% end %>
</ol>

<br>


<!--
<#%= link_to 'Edit', edit_event_path(@event) %> |
<#%= link_to 'Back', events_path %>
-->
