<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator.name %>
</p>

<br>
<% if user_signed_in? %>
  <%= render 'attend', attendance: @attendance %>
<% end %>

<strong>Attendees:</strong>

<ol>
  <% @attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
  <% end %>
</ol>

<br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
