<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
    </div>

    <%= link_to root_path do %>
      <h1>Private Events</h1><br>
    <% end %>

    <%= index_links %>
    <br>

    <%= yield %>
  </body>
</html>
